h1{
    color: rgb(24, 139, 40);
    font-size: 70px;
}

.Class {


    color: rgb(129, 24, 139);
    font-size: 70px;
    
}

#id {


    color: rgb(198, 218, 23);
    font-size: 70px;
    
}

*{


    color: rgb(98, 23, 218);
    font-size: 90px;
}

h2,h3,h4{


    color: rgb(218, 85, 23);
  
}
